button.submit {
  background-color: #8C8C8C;
  border: none;
  outline: none;
  border-radius: 20px;
  margin-top: 16px;
  padding: 10px;
  font-size: 16px;
}

button.submit:hover {
  background-color: #545454;
}