form {
  width: 45%;
  margin: auto;
}

input {
  background-color: transparent;
  border: 2px solid #8C8C8C;
  border-radius: 20px;
  outline: none;
  margin-bottom: 10px;
  padding: 10px 10px 10px 30px;
  font-size: 16px;
  color: #E5E4E4;
}

button.submit {
  background-color: #8C8C8C;
  border: none;
  outline: none;
  border-radius: 20px;
  margin-top: 16px;
  padding: 10px;
  font-size: 16px;
}

button.submit:hover {
  background-color: #545454;
}

section {
  position: relative;
  top: 20px;
  text-align: center;
  animation: shake 0.5s;
}