.card-container {
  overflow: scroll;
  width: 100%;
  position: relative;
}

.inner-card-container {
  transition: 450ms transform;
  white-space: nowrap;
  margin: 80px 0;
  padding: 0 0 10px 45px;
}

.card {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 300px;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center left;
  white-space: initial;
  vertical-align: bottom;
}

.poster-img {
  width: 250px;
  max-height: 300px;
  object-fit: contain;
}

.card:hover .poster-img {
  opacity: .2;
}

.card-details {
  position: relative;
  top: -315px;
  width: 100%;
  height: 300px;
}

.card:hover .card__details {
  opacity: 1;
}

.card-synopsis {
  position: absolute;
  left: 25px;
  width: 200px;
  height: 200px;
  background: transparent;
  color: white;
  border: none;
  opacity: 0;
  padding: 5px 15px;
  border-top: 1px solid white;
  font-size: 11px;
  overflow-y: scroll;
}

.error {
  font-size: 24px;
  margin-top: 0;
  color: red;
  border: none;
  top: 95px;
  text-align: center;
}

.title {
  text-align: center;
  font-size: 14px;
  opacity: 0;
  margin: 0;
  padding: 20px 30px 0 30px;
  height: auto;
}

.card:hover .title {
  opacity: 1;
}

.card .favorites {
  position: absolute;
  bottom: 0;
  right: 50px;
  opacity: 0;
  border: none;
  outline: none;
  background-image: url('../../images/add-favorite.svg');
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  width: 40px;
  height: 40px;
  opacity: 0;
  text-align: center;
}

.card:hover .favorites {
  opacity: 1;
}

.card .favorites:hover {
  opacity: .7
}

.average-rating {
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 40px;
  border: 1px solid white;
  border-radius: 50%;
  left: 50px;
  padding: 10px 8px;
  font-size: 16px;
  opacity: 0;
  text-align: center;
}

.card:hover .average-rating {
  opacity: 1;
}

.card:hover .card-synopsis {
  opacity: 1;
}

.inner-card-container:hover {
  transform: translate3d(-62.5px, 0, 0);
}

.inner-card-container:hover .card:hover {
  transform: scale(1.5);
  opacity: 1;
}

.card:hover ~ .card {
  transform: translate3d(150px, 0, 0);
}

.card .selected{
  background-image: url('../../images/checked.svg');
}