* {
  box-sizing: border-box;
  width: 100%;
}

body, html {
  padding: 0 10px;
  margin: 0;
  background: #0e0f11;
  color: #ecf0f1;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  width: 100%;
}

a {
  color: #95a5a6;
  text-decoration: none;
}

a:hover {
  color: #7f8c8d;
  text-decoration: underline;
}

